#cursos h3{
	text-align: center;
	color: #f3f3f3;
	margin: 20px;
	font-size: 30px;
	
}

#cursos{
	background: #333;
	padding: 10px 0 10px 0;
}

#cursos .container{
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
}

#cursos img{
	width: 100%;
	max-width: 250px;
	margin: 0 10px;
	border-radius: 50%;
	border: solid #fff 5px
}

#cursos h4{
	text-align: center;
	margin: 10px 0;
	color: #fff;
}