/*FUENTE*/
@import url('https://fonts.googleapis.com/css?family=Lato|Open+Sans|Roboto');
@import url(menu.css);
@import url(banner.css);
@import url(team.css);
@import url(cursos.css);

/*CONTAINER*/
* {
	margin: 0;
	padding:0;
	box-sizing: border-box; 
}

/*	TIPO DE LETRA Y ELIMINAR SCROLL HORIZONTAL*/
body{
	font-family: 'Lato', sans-serif;
	overflow-x: hidden;
}

/*NAVIGATION BAR*/
#logo-bar, #name{
	display: inline-block;
	margin: 10px 0 0 10px;
}

h1, #logo-bar{
	float: left;
}


header{
	width: 100%;
	height: 70px;
	background: #EAF6FB;
	color: #333;

	position: fixed; /*QUE EL HEADER SE MANTENGA ARRIBA*/
	top:0;
	left: 0;
	z-index: 100;
}

.container{
	width: 98%;
	margin: auto;
	display: table;
}

section{
	width: 100%;
	margin-bottom: 25px;
}

/*ACERCA*/
#acerca .container{
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	
}

#bienvenidos p{
  text-align: center;
  margin-bottom: 20px;
  max-width: 400px;
	transform: translateX(0%);
}

.aside-img img{
	margin: 10px;
  width: 100%;
  max-width: 350px;
}

#bienvenidos h2{
	text-align: center;
}

/*	FOOTER  */

footer .container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding-bottom: 25px;
	
}

.copyright {
	font-size: 20px;
}

#redes {
	width: 100%;
	font-size: 30px;
	text-align: center;
}

#redes a {
	text-decoration: none;
	color: #333;
}